body {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border: 3px solid black;
}

header {
   
    border: 3px solid black
}

main {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    
}

.left_main {
    border: 1px solid black;
    min-width: 150px;

}
.center_main {
    border: 1px solid black;
    align-self: center;

}
.right_main {
    border: 1px solid black;
    min-width: 150px;

}


footer {
    border: 1px solid black;
}

